.productsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

.header {
  color: rgb(246, 142, 68);
  font-size: 8rem;
}

.productsBody {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem 5rem;
}
